.login-wrapper {
  max-width: 900px;
  border-radius: 15px;
  overflow: hidden;
}

.login-image {
  background-image: url("/img/rme.jpg");
  background-size: cover;
  background-position: center;
}

.login-btn {
  background: linear-gradient(to right, #000, #444);
  border-radius: 50px;
  color: white;
}

.login-btn:hover {
  background: linear-gradient(to right, #111, #555);
}

.login-toast-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 2000;
}


